{% extends 'events/base.html' %}

{% block content %}

<div class="card p-4">

    <h2>{{ event.title }}</h2>

    <p class="text-muted">
        {{ event.date|date:"d.m.Y H:i" }}
    </p>

    <hr>

    <p>{{ event.description }}</p>

    {% if user.is_staff %}
        <a href="/events/{{ event.id }}/edit/" class="btn btn-warning">Редактировать</a>

        <form method="post" action="/events/{{ event.id }}/delete/" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-danger">Удалить</button>
        </form>
    {% endif %}

    <a href="/events/" class="btn btn-secondary mt-2">Назад</a>

</div>

{% endblock %}