{% extends 'base.html' %}
{% block content %}
    <h1>Announcements List</h1>

    <ul>
        {% for announcement in announcements %}
            <li>
                <a href="{% url 'announcement-detail' pk=announcement.id %}"class="btn btn-info">Info>{{ announcement.title}}</a>
                {% if user.profile.role == "admin" %}
                    <a href="{% url 'announcement-delete' pk=announcement.id%}"class = "btn btn-outline-danger">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No announcements found.</li>
        {% endfor %}

    </ul>
    {% if user.profile.role == "admin" %}
        <p><a href="{%url 'announcement-create'%}"class="btn btn-outline-primary">Create announcement</a></p>
    {% endif %}
{% endblock %}