{% extends 'base.html' %}
{% block content %}
    <h1>Профіль користувача: {{ profile.user.username }}</h1>

    <div>
        <div>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Аватар" style="max-width: 150px;">
            {% else %}
                <img src="{{ default_avatar_url }}" alt="Аватар за замовчуванням" style="max-width: 150px;">
            {% endif %}
        </div>
        <div>
            <p><strong>Роль:</strong> {{ profile.get_role_display }}</p>
            <p><strong>Біографія:</strong> {{ profile.bio|linebreaks|default:"Біографія відсутня" }}</p>
            <a href="#">Переглянути моє портфоліо</a>
            <a href="{% url 'core:user_profile_edit' %}">Редагувати профіль</a>
        </div>
    </div>
{% endblock %}