{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>materials-list</title>

<br><br>
<h1 class="text-center">Цікаві Матеріали</h1>

<p class="text-center">На цій сторінці ви зможете знайти корисний матеріал для себе</p>
<br>
<div>
    <div>
        <form method="get">
            <strong>{{ form.category.label_tag }}</strong>
            {{ form.category }}
            <button type="submit" class="btn btn-primary ml-2">Фільтрувати</button>
        </form>
    </div>
</div>




<br><br>
<div class="center-btn-f">
{% if user.is_superuser %}
    <a href="{% url 'mater:material-create'%}" class="btn btn-primary">+ додати матеріал</a>
{% endif %}
</div>
<br>
<div class="center-btn-f">
<ul class="list-group">
        {% for mat in materials %}
    <li>
        <div class="col-12">
            {{ mat.title }} |
            <span class="badge text-bg-info">{{ mat.category }}</span> |
            {{ mat.material_date|date:"d F Y, H:i" }} |
            <a href="{% url 'mater:material-dateil' pk=mat.id  %}" class="btn btn-warning">Переглянути</a> 
        </div>
    </li> 
        {% empty %}
            <li>Не знайдено такого матеріалу</li>
        {% endfor %}
</ul>
</div>



{% endblock %}