{% extends 'base.html' %}

{% load static %}
{% block content %}
<br>
<h1 class="text-center fw-bold">Цікавий Матеріал</h1>


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8"> 
            <div class="card shadow-lg border-0 overflow-hidden">
                <div class="card-body p-4 p-md-5">
                    <h1 class="fw-bold">{{ material.title }}</h1>
                    <div class="d-flex flex-column mb-3">
                        <div class="mb-1">
                            <strong>Категорія: </strong><span class="badge text-bg-primary">{{ material.category }}</span>
                        </div>
                        <div class="mt-1 mb-3">
                            <strong>Автор:</strong> 
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'core:user_profile' %}">
                                {{ material.author }}
                            </a>
                        </div>
                        {{ material.material_date|date:"d F Y, H:i" }}
                    </div>
                    <hr>
                    {% with all_images=material.images.all %}
                        {% if all_images.count == 1 %}
                            <div class="single-image mb-3 center">
                                <img src="{{ all_images.first.image.url }}" alt="Зображення" class="img-fluid" style="height: 400px; border-radius: 8px;">
                            </div>
                        
                        {% elif all_images.count > 1 %}
                            <div id="carouselExample" class="carousel slide shadow-sm rounded overflow-hidden" data-bs-ride="carousel">
                                <div class="carousel-inner bg-light">
                                    {% for img in all_images %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ img.image.url }}" class="d-block w-100" style="height: 500px; object-fit: contain;">
                                        </div>
                                    {% endfor %}
                                </div>
                            
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" stayle="color: black;">
                                  <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgba(0,0,0,0.5);"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgba(0,0,0,0.5);"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        {% else %}
                            <p class="text-muted italic">Зображення до цього матеріалу не додані.</p>
                        {% endif %}
                    {% endwith %}

                    <br>
                    <p>{{ material.description }}</p>

                        {% if material.file_type == 'video' %}
                            {% if material.material_file %}
                                <video width="340px" height="280" controls>
                                    <source src="{{ material.material_file.url }}" type="video/mp4">
                                </video>
                            {% endif %}
                        {% else %}
                            <div class="d-flex flex-column mb-3">
                                <div class="mb-1">
                                    <div class="mb-2">
                                        <strong>Доданий файл: </strong>
                                    </div>
                                    <a href="{{ material.material_file.url }}" download class="btn btn-primary">Завантажити ({{ material.material_file.name }})</a>
                                </div>
                            </div>
                        {% endif %}
                        
                    {% if material.subtitle %}
                        <p>{{ material.subtitle}}</p>
                    {% else %}
                        <p><i>Опис відсутній.</i></p>
                    {% endif %}
                    <div class="d-flex flex-column mb-3">
                        <div class="mb-1">
                            {% if material.material_url %}
                            <div class="mb-2">
                                <strong>Посилання:</strong> 
                            </div>
                                <a href="{{ material.material_url }}" target="_blank" rel="noopener noreferrer" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                    {{ material.material_url }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-auto pt-4 border-top">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-grid gap-2 d-md-flex">
                                <form action="{% url 'mater:material-like' material.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" 
                                        class="button-like-mater {% if already_liked %}active{% endif %}">
                                        {% if already_liked %} 
                                            <i class="bi bi-hand-thumbs-up-fill me-2"></i>
                                        Сподобалося 
                                        {% else %} 
                                            <i class="bi bi-hand-thumbs-up me-2"></i>
                                        Подобається 
                                        {% endif %}
                                        <span class="badge rounded-pill {% if already_liked %}bg-white text-success{% else %}bg-success text-white{% endif %}">
                                            {{ material.likes.count }}
                                        </span>
                                    </button>
                                </form>
                            </div>
                            <div class="d-flex gap-2">
                                {% if user.is_superuser %}
                                    <a href="{% url 'mater:material-update' material.pk %}" class="btn btn-warning">Редагувати</a>
                                    <a href="{% url 'mater:material-delete' material.pk %}" class="btn btn-danger">Видалити</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="center">
    <a href="{% url 'mater:material-list'%}" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Назад до матеріалу</a>
</div>
<br>

{% endblock %}