{% extends 'base.html' %}

{% load static %}
{% block content %}
<br><br>
<h1  class="text-center">Видалення матеріалу</h1>
    <p  class="text-center">ви впевнені що хочите видалити матеріал? "{{ object.title }}"</p>
<br>
<div class="position-absolute top-40 start-50 translate-middle mt-1">
    <div class="d-grid gap-2 d-md-block">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="padding: 5px 50px;">Так</button>

            <a href="{% url 'mater:material-list' %}" class="btn btn-secondary" style="padding: 5px 50px;">Ні</a>
        </form>
    </div>
</div>
{% endblock %}