{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>{% if form.instance.pk %}Редагувати{% else %}Створити{% endif %} матеріал</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    {% if form.subtitle.value %}
        <p>{{ form.subtitle.value }}</p>
    {% else %}
        <p>Опис відсутній.</p>
    {% endif %}

    <h4>Картинки</h4>

<div id="formset">
    {{ formset.management_form }}   <!-- 🔥 ОСЬ ЦЕ -->

{% for f in formset %}
    <div class="image-form">
        {{ f.id }}  {% if f.instance.pk %}
            <p>Поточна картинка:</p>
            <img src="{{ f.instance.image.url }}" width="120">
        {% endif %}

        {{ f.image }}
        <label>{{ f.DELETE }} Видалити</label>
    </div>
{% endfor %}
</div>
    <button type="button" id="add-more"> Додати ще</button>

    <br><br>
    <button type="submit">Зберегти</button>
</form>

<p><a href="{% url 'mater:material-list' %}">Назад</a></p>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const formsetDiv = document.getElementById('formset');
    const addButton = document.getElementById('add-more');
    const totalForms = document.querySelector('[name$="TOTAL_FORMS"]');
    const emptyFormHtml = `{{ formset.empty_form.as_p|escapejs }}`;
    const MAX_FORMS = 3;

    function checkLimit() {
        const formCount = parseInt(totalForms.value);
        addButton.style.display = formCount >= MAX_FORMS ? 'none' : 'inline-block';
    }

    checkLimit();

    addButton.onclick = function() {
        const formCount = parseInt(totalForms.value);

        if (formCount < MAX_FORMS) {
            const newFormHtml = emptyFormHtml.replace(/__prefix__/g, formCount);
            const wrapper = document.createElement('div');
            wrapper.classList.add('image-form');
            wrapper.innerHTML = newFormHtml;

            formsetDiv.appendChild(wrapper);
            totalForms.value = formCount + 1;

            checkLimit();
        }
    };
});
</script>

{% endblock %}