/* Звичайна кнопка */
.button-like-mater {
    background-color: white !important; 
    color: blue !important;

    /* Видаляємо border: none і transparent */
    /* Встановлюємо рамку: товщина, стиль (solid), колір */
    border: 2px solid blue !important; 
    
    cursor: pointer;
    transition: 0.3s;
    padding: 6px 12px; 
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
}

/* Кнопка, коли лайк ВЖЕ стоїть */
.button-like-mater.active {
    background-color: blue !important;
    color: white !important;
    border: 2px solid blue !important; 
}

/* Ефект при наведенні (щоб було красиво) */
.button-like-mater:hover {
    opacity: 0.8;
    background-color: rgb(3, 3, 204) !important; 
    color: white !important;

    /* Видаляємо border: none і transparent */
    /* Встановлюємо рамку: товщина, стиль (solid), колір */

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-btn-f {
    padding-left: 10%;
}

.carousel-item {
    /* Робимо фон для порожніх місць (чорний або світло-сірий) */
    background-color: #222; 
    height: 500px; /* Фіксуємо висоту каруселі */
}

.carousel-item img {
    height: 500px;
    width: 100%;
    /* МАГІЯ ТУТ: вписує фото повністю без обрізки */
    object-fit: contain; 
}